/* Font Size */
* {
  font-family: "K2D", sans-serif;
  font-size: 20px;
}
body{
  scroll-behavior: smooth;
}

.head {
  font-family: "Chonburi", cursive;
  font-size: 50px;
}
.subhead {
  font-family: "Chonburi", cursive;
  font-size: 30px;
}
/* wrapper always at lowest layer */
.wrapper {
  z-index: -1;
}
/* Color */
:root {
  --ci1: #fdecf2;
  --ci2: #fdd600;
  --ci3: #ef8f83;
  --ci4: #f15942;
  --ci5: #d72d13;
  --ci6: #2d4791;
  --ci7: #112047;
}
/* Background Color */
.bg-pale-pink {
  background: var(--ci1);
}
.bg-yellow {
  background: var(--ci2);
}
.bg-pink {
  background: var(--ci3);
}
.bg-peach {
  background: var(--ci4);
}
.bg-red {
  background: var(--ci5);
}
.bg-blue {
  background: var(--ci6);
}
.bg-navy {
  background: var(--ci7);
}
/* Font Color */
.cl-pale-pink {
  color: var(--ci1);
}
.cl-yellow {
  color: var(--ci2);
}
.cl-pink {
  color: var(--ci3);
}
.cl-peach {
  color: var(--ci4);
}
.cl-red {
  color: var(--ci5);
}
.cl-blue {
  color: var(--ci6);
}
.cl-navy {
  color: var(--ci7);
}
/* Border Color */
.bor-pale-pink {
  border-color: var(--ci1);
}
.bor-yellow {
  border-color: var(--ci2);
}
.bor-pink {
  border-color: var(--ci3);
}
.bor-peach {
  border-color: var(--ci4);
}
.bor-red {
  border-color: var(--ci5);
}
.bor-blue {
  border-color: var(--ci6);
}
.bor-navy {
  border-color: var(--ci7);
}
/* Button Color */
.btn-pink-navy {
  background: var(--ci3);
  color: var(--ci7);
}
/* .btn-pink-navy:hover {
    background: var(--ci1);
    color: var(--ci3);
  } */
.btn-navy-yellow {
  background: var(--ci7);
  color: var(--ci2);
}
/* .btn-navy-yellow:hover {
    background: var(--ci2);
    color: var(--ci7);
  } */
.btn-pink-white {
  background: var(--ci3);
  color: var(--ci1);
}
/* .btn-pink-white:hover {
    background: var(--ci1);
    color: var(--ci3);
  } */
.container-fluid {
  padding: 0;
}
/* logo */
.logo {
  z-index: 999;
  position: fixed;
  top: 38px;
  left: 50px;
}
/* credit */
.btn-credit {
  z-index: 1000;
  position: fixed;
  bottom: 35px;
  right: 75px;
  cursor: pointer;
  width: 43px;
  height: 43px;
  opacity: 0.5;
  transition: .5s;
}
.btn-credit:hover{
  opacity: 1;
}
.credit{
  z-index: 999;
  width: 100vw;
  font-size: 16px;
  text-align: center;
  background: #fff;
  position: fixed;
  margin: 0;
  padding: 29px 0 29px 0;
  bottom: 0;
  cursor: pointer;
  display: none;
}
/* fixed container */
.fixed {
  width: 1024px;
  height: 768px;
  position: relative;
  margin: auto;
  padding: 0;
  text-align: center;
  /* background: gray; */
}
/* animation */
.animation {
  z-index: 0;
  position: absolute;
}
/* size button */
.btn-size {
  border-radius: 8px;
}

/* main nav */
#mNav {
  position: absolute;
  list-style-type: none;
  right: 84.9px;
  top: 42px;
  padding: 0;
  z-index: 4;
}
.mButton {
  display: inline;
  padding: 7.5px;
  opacity: .2;
  transition: .5s;
}

.mButton:hover {
  opacity: 1;
}

.activeButt{
  opacity: 1;
}

progress {
  color: var(--ci2);
}

progress::-webkit-progress-value {
  background: var(--ci5);
}

progress::-moz-progress-bar {
  background: var(--ci2);
}

progress::-webkit-progress-value {
  background: var(--ci5);
}

progress::-webkit-progress-bar {
  background: var(--ci2);
}

@keyframes main3down1{
  from {top: -125px;}
  to {top: 88px;}
}
@keyframes main3down2{
  from {top: -175px;}
  to {top: 148px;}
}
@keyframes main3down3{
  from {width: 437px; height: 314px;}
  to {width: 450px; height: 330px;}
}
@keyframes main3down4{
  from {width: 202px; height: 190px;}
  to {width: 195px; height: 180px;}
}
@keyframes main3down5{
  from {width: 202px;height: 285px;}
  to {width: 195px;height: 270px;}
}

@keyframes main5_1{
  0% {transform: scale(0,0);}
  50% {transform: scale(1.5,1.5);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}

}
@keyframes main5_2{
  from {top: -1000px;}
  to {top: 72px;}
}
.fade1, .fade2, .fade3, .fade4{
  display: none;
}
#ans1, #ans2, #ans3, #ans4, #ans5, #ans6{
  display: none;
}